div.cv-name Erica L. Heller

div ericaLheller@gmail.com
div New York, NY 10016
div 201-925-9131

br
br

div.cv-section
  strong.cv-section-header EDUCATION
br
strong University of Wisconsin-Madison [May 2012]
div
  span B.S. Biology

br

div
  strong New York University College of Dentistry [May 2017]
div
  span D.D.S

br

div
  strong
    | Bellevue Hospital Center Oral/Maxillofacial Surgery
    | and Adult Dental Clinic [July 2017-June 2018]
div
  span General Practicing Residency

br

div
  strong Gouverneur Health General and Cosmetic Dental Clinic [July 2017-June 2018]

div
  span General Practicing Residency

br
div.cv-section
  strong.cv-section-header LICENSES
br

div
  span CDCA License Certified

div
  span Current CPR First Aid and BLS Certifications

div
  span Invisalign Clear Aligner System

div
  span Certified Provider

br
div.cv-section
  strong.cv-section-header SKILLS & HIGHLIGHTS
br

div Restoring and placing implants
div Nitrous oxide sedation training
div Restoration
div Comprehensive Treatment planning
div Pediatric
div Removable and fixed prosthodontics
div Root canals

br
div.cv-section
  div.cv-section-header VOLUNTEER WORK
br

strong Henry Schein Global Outreach April 2016

div
  span
    | Selected to go on a weeklong outreach serving the rural community of Muchias, Maine.
    br
    | Triaged and diagnosed patients, performed restorations,
    br
    | root canal therapy, and extractions. Worked with the pediatric
    br
    | community to prevent cavities with a fluoride treatment.

br

div
  strong Special Needs Society September 2015-Present

div
  span
    span
      | Attended the yearly Special Olympics performing oral health screenings
      br
      | on athletes. Also attended local shelters feeding the homeless.

br
div
  span
    strong Oral Cancer Walk September 2013-April 2016

div
  span
    | On executive board for the yearly NYC Oral Cancer Walk. Organized the
    br
    | route, coordinated sponsors and motivated the community to attend.
    br
    | The walk raises thousands of dollars each year and provides free oral cancer screenings.

br
div.cv-section
  strong.cv-section-header LEADERSHIP
br

div
  span
    strong Oral Cancer Consortium June 2015- Present

div
  span
    | Committee member on the Oral Cancer Consortium. Meet with dentists from
    br
    | the tri state area to promote oral cancer awareness within the community.

br
div
  span
    strong Teaching Assistant September 2015-June 2016

div
  span
    | Chosen to be a teaching assistant to D1 students in simulator lab. Spent
    br
    | one-on-one time teaching students restorations, impressions, and wax-ups.

br
div
  strong CadCam Trainer April 2016

div
  | Chosen to teach CadCam technology to D2 students for inlays and crown preparations.

br
div
  span
    strong Class Council June 2014-June 2015

div
  span
    em Student Affairs Representative

div
  span
    span
      | Organized monthly meetings with the Dean and 2017 class members to
      br
      | discuss improvements to the curriculum and student experience.

br
div.cv-section
  strong.cv-section-header HONORS
br

div
  strong Periodontistry Honors Program July 2016-Present

div
  span
    span
      | Chosen to be part of an honors program to learn advanced periodontistry
      br
      | techniques such as crown lengthening, implant placement, and suturing techniques.

br
div.cv-section
  strong.cv-section-header RESEARCH
br

div
  span
    strong University of Wisconsin Hospital, Department of Surgery September 2011-May 2012

div
  span
    span
      | Worked closely with Dr. Cho, Surgeon specializing in Pancreas Cancer,
      br
      | developing a research questionnaire to gain greater insight into
      br
      | the risk-to-reward threshold patients are willing to take for a
      br
      | surgical oncology procedure. Completed the IRB application.

br
div
  span
    strong Regeneron Pharmaceuticals, Tarrytown NY May 2009- August 2009

div
  span
    span
      | Interned in the muscle and metabolism department conducting
      br
      | research on PCSK9 and how it can be used to lower LDL levels.
      br
      | Learned laboratory techniques such as cell cultures, western blots,
      br
      | keeping a lab book and fluorescent microscopy. Presented my findings
      br
      | to the department weekly.

br
div
  strong
    | Hector F. DeLuca Lab, Biotron Center, University of Wisconsin [September 2009- January 2010]

div
  span
    | Responsible for preparing and administering 1,25-Dihydroxyvitamin D3
    br
    | compounds to mice, investigating its use in therapies for type
    br
    | 1 and type 2 diabetes.

br
div.cv-section
  strong.cv-section-header References
br

div
  div
    strong Dr. Opal Goodridge
  div Bellevue Hospital GPR Program Director
  div opal.goodridge@bellevue.nychhc.org
  div 212-562-2637

  br

  div
    strong Dr. Patricia Neil
  div Bellevue Hospital GPR Associate Program Director
  div patricia.neil@bellevue.nychhc.org
  div 212-562-8780
